.footer {
    background: #f2f2f2;
    display: flex;
    flex-direction: column;
    margin-top: 15.3rem;
    width: 100%;

    &__first {
        align-self: flex-start;
        border-bottom: 1px solid #dadce0;
        color: #70757a;
        font-size: 15px;
        padding: 1rem 1.5rem;
        width: 100%;
    }

    &__second {
        display: flex;
        justify-content: space-between;
        padding: 1rem 1.5rem;

        a {
            color: #70757a;
            font-size: 14px;
            text-decoration: none;

            &:hover {
                text-decoration: underline;
            }
        }
    }   

}

.footer__menu {
    display: flex;
    list-style: none;

    &--itens {
        margin-right: 1.5rem;
    }
}